profiles{

    standard {
        process.executor = 'local'
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'
        conda.cacheDir = "$WORKFLOW_ROOT/cached_envs"
    } 
}

params{
    results_dir = "${baseDir}/garnett_classifiers" // specify output when in nested workflow
    training_10x_dir = "$baseDir/data/data_10X"
    
    training_cds_gene_id_type = "ENSEMBL"
    training_dataset_id = "dummy"
    marker_genes = "$baseDir/data/markers_file.tsv"
    pval_col = "pvals"
    groups_col = "groups"
    gene_names = "names"
    database = "org.Hs.eg.db"
    marker_gene_id_type = "ENSEMBL"
    classifier_gene_type = "ENSEMBL"
    n_outgroups=50
}
